.pendingOrdersContainer {
    display: grid;
    grid-template-columns: 2fr; /* افتراضيًا عمود واحد للشاشات الصغيرة */
    gap: 20px; /* مسافة بين الصفوف */
    padding: 25px;
    justify-items: center; /* يجعل العناصر في المنتصف أفقيًا */
    margin-bottom: 2.98%;
}

.pendingOrdersRow {
    background-color: #ffffff9a;
    border-radius: 10px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    padding: 15px 20px;
    width: 80%; /* لجعل العنصر متجاوبًا */
    max-width: 640px; /* حد أقصى للعرض */
}

.pendingOrdersDiv {
    display: grid;
    grid-template-columns: 1fr; /* افتراضيًا عمود واحد */
}

.pendingOrdersData {
    font-size: 17px;
    margin-bottom: 8px;
}

.pendingOrdersSupplierName, .pendingOrdersType, .pendingOrdersStatus {
    font-size: 18pt;
    margin-top: 0;
}

.pendingOrdersSupplierName{
    text-align: center;
    margin-bottom: 15px;
}

.pendingOrdersH2 {
    text-align: center;
    font-size: 25pt;
    margin-bottom: 1px;
}

.pendingOrdersDivButton{
    text-align: center;
}

.pendingOrdersButtonDeleted{
    background-color: #C40C0C;
    width: 50%;
    border: none;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.pendingOrdersButtonDeleted:hover{
    background-color: #ff0000fa;
}

.pendingOrdersP{
    display: flex;
    align-items: center; 
    font-size: 17px;
    justify-items: center;
    height: 38.9vh;
}

@media (max-width: 1124px) {
    .pendingOrdersContainer {
        margin-left: 10%;
    }
}

@media (max-width: 1000px) {
    .pendingOrdersContainer {
        margin-left: 20%;
    }
}

@media (min-width: 768px) {
    .pendingOrdersContainer {
        grid-template-columns: repeat(1, 2fr); 
    }

    .pendingOrdersDiv {
        grid-template-columns: repeat(2, 1fr); 
    }
}

