.companyBody {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-image: url("../../../../../public/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* Container Styles */
.companyRegistrationContainer {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 32px 48px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.companyRegistrationH1 {
    font-size: 25pt;
    text-align: center;
    margin-top: -5px;
}

/* Form Styles */
.companyFormRegistration {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.companyRegistrationDiv {
    display: flex;
    flex-direction: column;
}

.companyRegistrationLabel {
    font-size: 20px;
}

.companyRegistrationInput, .companyCommercialRegister {
    width: 100%;
    font-size: 20px;
    padding: 10px 0px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}

.companyRegistrationInput::placeholder {
    font-size: 12px;
    font-style: italic;
}

.companyCommercialRegister{
    font-size: 15px;
}

.companyRegistrationButton {
    grid-column: span 2;
    background-color: rgb(109, 102, 109);
    border: none;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
}

.companyRegistrationButton:hover {
    background-color: rgb(54, 54, 54);
}

.companyRegistrationSpan {
    grid-column: span 2;
    font-size: 14px;
    text-align: center;
}

.companyRegistrationLink {
    text-decoration: none;
    font-weight: bold;
}

.companyRegistrationLink:hover {
    text-decoration: underline;
}