body {
    margin: 0;
}

/* Card */
.companyHomeContainerCard {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 62.2vh;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap; /* يجعل العناصر تتكيف مع أحجام الشاشات الأصغر */
}

.cementCardMedia {
    background-image: url('../../../../public/images/background.png');
    background-size: cover; /* يجعل الخلفية تتكيف مع حجم العنصر */
    background-position: center;
}

.concreteCardMedia {
    background-image: url('../../../../public/images/background.png');
    background-size: cover; /* يجعل الخلفية تتكيف مع حجم العنصر */
    background-position: center;
}

.cardContent {
    text-align: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .companyHomeContainerCard {
        flex-direction: column; /* العناصر تتحول إلى عمودي للشاشات الصغيرة */
        gap: 20px;
    }

    .cementCardMedia {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .cardContent {
        font-size: 14px; /* تصغير النص للشاشات الصغيرة */
    }
}
