.profileContainer {
    display: flex;
    flex-direction: column;  /* Ensure items are stacked vertically */
    justify-content: center;
    align-items: center;
    min-height: 6vh;
    gap: 20px;  /* Adds spacing between each profile */
}

.profileRow {
    background-color: #ffffff9a;
    padding: 20px 40px;  /* Adjusted padding for better spacing */
    width: 80%;  /* Adjust width to make it more responsive */
    max-width: 500px;  /* Set a max width for better control */
    border-radius: 10px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    text-align: left;  /* Ensure text aligns properly */
}

.profileRow p {
    font-size: 18px;
    margin: 8px 0;  /* Adjusted margin for better spacing */
}

.profileRow a {
    text-decoration: none;
}

.profileRow a:hover {
    text-decoration: underline;
}
.List{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 14px; /* Smaller font size */
  font-weight: 800;
  line-height: 14px; /* Adjusted line height for smaller font */
  min-height: 32px; /* Reduced min height */
  outline: 0;
  padding: 8px 10px; /* Reduced padding */
  text-align: center;
  text-rendering: geometricprecision;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button24:hover,
.button24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button24:active {
  opacity: .5;
}

.button32 {
  background: #fff200;
  border: 1px solid #f4e603;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 14px; /* Smaller font size */
  font-weight: 800;
  line-height: 14px; /* Adjusted line height for smaller font */
  min-height: 32px; /* Reduced min height */
  outline: 0;
  padding: 8px 10px; /* Reduced padding */
  text-align: center;
  text-rendering: geometricprecision;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin-right: 10px;
}

.button32:hover,
.button32:active {
  background-color: initial;
  background-position: 0 0;
  color: #f4e603;
}

.button32:active {
  opacity: .5;
}