@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;500;700&display=swap'); 

/* footer.module.css */
.footer {
    background-color: #776B5D;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    margin-top: -20px;
    width: 120px;
    height: 80px;
    max-width: 100%;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.footerCollapse {
    margin-bottom: 10px;
}

.itemList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap; /* Ensures wrapping on smaller screens */
}

.itemLink {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.itemLink:hover {
    color: yellow;
}

/* Dropdown Menu */
.dropdownMenu {
    display: none;
    position: absolute;
    width: 200px;
    background-color: #776B5D;
    color: #fff;
    box-shadow: 0 5px 10px 7px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 0.5rem 0;
    text-align: center;
    z-index: 999;
    list-style: none;
    margin-top: -70px;
    margin-left: -200px;
}

.dropdownMenu.show {
    display: block;
}

.dropdownItem .itemLink {
    padding-bottom: 4px;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
    display: inline-block;
}

.dropdownItem .itemLink:hover {
    color: yellow;
}

.item .dropdownToggle{
    font-size: 1rem;
    background-color: transparent;
    border: none;
}

.copyright {
    font-size: 14px;
    line-height: 1.6;
}

.copyrightText {
    margin: 0;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    .logo {
        width: 100px;
    }

    .itemList {
        flex-direction: column; /* Stack items vertically on smaller screens */
        gap: 10px;
    }

    .footerCollapse {
        margin-bottom: 15px;
    }

    .copyright {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .footer {
        padding: 15px 0;
    }

    .logo {
        width: 80px;
    }

    .itemList {
        gap: 8px;
    }

    .copyright {
        font-size: 12px;
        line-height: 1.3;
    }
}
