.cementBillContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.cementBillRow {
    background-color: #ffffff9a;
    border-radius: 10px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    padding: 15px 25px;
    width: 80%; /* النسبة المئوية تجعل العنصر متجاوبًا */
    max-width: 700px; /* الحد الأقصى للعرض على الشاشات الكبيرة */
}

.cementBillH1 {
    text-align: center;
    color: #333;
    font-size: 25pt;
    margin-bottom: 20px;
}

.cementBillForm {
    display: grid;
    grid-template-columns: 1fr; /* افتراضيًا عمود واحد للشاشات الصغيرة */
}

.cementBillDiv {
    display: flex;
    flex-direction: column;
}

.cementBillLabel {
    font-size: 20px;
}

.cementBillInput, .cementBillInputTime {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    width: 90%; /* ملء العرض المتاح */
    border-bottom: 1px solid black;
    background-color: #ffffff00;
}

.cementBillInputTime {
    font-size: 16px;
}

.cementBillInput::placeholder {
    font-size: 12px;
    font-style: italic;
}

.cementBillP {
    font-size: 20px;
}

.cementBillButton {
    grid-column: span 1; /* افتراضيًا يشغل عمود واحد */
    background-color: rgb(109, 102, 109);
    border: none;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

.cementBillButton:hover {
    background-color: rgb(54, 54, 54);
}

/* استعلام الوسائط للشاشات الكبيرة */
@media (min-width: 768px) {
    .cementBillForm {
        grid-template-columns: repeat(2, 1fr); /* عمودان للشاشات الأكبر */
    }

    .cementBillButton {
        grid-column: span 2; /* زر يمتد على عمودين */
    }
}
