.editProfileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 62.2vh;
    padding: 20px; 
}

.editProfileRow {
    background-color: #ffffff9a;
    padding: 20px;
    width: 90%; 
    max-width: 400px; 
    border-radius: 10px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.editProfileH1 {
    text-align: center;
    font-size: 20pt; 
    color: #333;
    margin-bottom: 20px;
    margin-top: 0;
}

.editProfileForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editProfileDiv {
    display: flex;
    flex-direction: column;
}

.editProfileLabel strong {
    font-size: 18px; 
}

.editProfileInput {
    width: 95%; 
    font-size: 18px; 
    padding: 10px;
    margin-top: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background-color: #ffffff00;
}

.editProfileInput::placeholder {
    font-size: 12px;
    font-style: italic;
}

.editProfileButton {
    background-color: rgb(109, 102, 109);
    border: none;
    font-size: 18px; 
    color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

.editProfileButton:hover {
    background-color: rgb(54, 54, 54);
}

@media (min-width: 768px) {
    .editProfileRow {
        width: 60%; /* عرض أكبر للشاشات المتوسطة */
        padding: 20px 48px; /* استعادة التباعد السابق */
    }

    .editProfileH1 {
        font-size: 25pt; /* تكبير النص الرئيسي */
    }

    .editProfileLabel {
        font-size: 16px;
    }

    .editProfileContainer .editProfileInput {
        font-size: 16px;
    }

    .editProfileContainer .editProfileButton {
        font-size: 16px;
        padding: 8px;
    }
}